{
  "presets": [
    "next/babel",
    "@linaria"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "babel-plugin-prismjs",
      {
        "languages": ["reason", "js", "jsx", "shell", "nginx"],
        "css": false
      }
    ]
  ]
}
