{
  "presets": [
    "next/babel",
    "@linaria"
  ],
  "plugins": [
    [
      "babel-plugin-prismjs",
      {
        "languages": ["reason", "rust", "js", "jsx", "shell", "nginx"],
        "css": false
      }
    ]
  ]
}
