{
  "presets": [
    "next/babel",
    "@linaria"
  ],
  "plugins": [
    [
      "babel-plugin-prismjs",
      {
        "languages": [
          "reason",
          "rust",
          "js",
          "jsx",
          "css",
          "shell",
          "nginx"
        ],
        "css": false
      }
    ]
  ]
}
