node_modules/
log/
target/
.cache/
.next/
.vercel/
.direnv/
.cached
*.log
.DS_Store
.merlin
.bsb.lock
*.bs.js
report.*.json

/lib/
/out/
/tmp/
/images/
/vendor/
/env/dev/certs/
/env/dev/.env
/env/prod/.env
